[user]
	name = Abled-Taha
	email = abledtaha@gmail.com
[init]
	defaultBranch = main
[alias]
	s = status
	a = add
	c = commit
	p = push
	l = log

	acp = "!f() { \
	    git add -A; \
	    if [ -z \"$1\" ]; then \
        	git commit -m \"Regular Commit\"; \
	    else \
	        git commit -m \"$*\"; \
	    fi; \
	    git push; \
	}; f"
[core]
	pager = more
