[Desktop Entry]
Name=Age Of History 3
Exec=xdg-open heroic://launch?appName=jexhf4hytefRov71VVYXwK&runner=sideload
Terminal=false
Type=Application
Icon=/home/abledtaha/.var/app/com.heroicgameslauncher.hgl/config/heroic/icons/jexhf4hytefRov71VVYXwK.jpg
Categories=Game;
