[Desktop Entry]
Name=GwenX
Exec=xdg-open heroic://launch?appName=antdvXN7vPaygeJwswsn4m&runner=sideload
Terminal=false
Type=Application
Icon=/home/abledtaha/.var/app/com.heroicgameslauncher.hgl/config/heroic/icons/antdvXN7vPaygeJwswsn4m.jpg
Categories=Game;
