[Desktop Entry]
Name=Multiversal Balance
Exec=xdg-open heroic://launch?appName=sfWZs35YEMetg6fovMyrxA&runner=sideload
Terminal=false
Type=Application
Icon=/home/abledtaha/.var/app/com.heroicgameslauncher.hgl/config/heroic/icons/sfWZs35YEMetg6fovMyrxA.jpg
Categories=Game;
