[Desktop Entry]
Name=Naruto World Of Dreams
Exec=xdg-open heroic://launch?appName=wkAFusnsptPQnT7kf2y8Tg&runner=sideload
Terminal=false
Type=Application
Icon=/home/abledtaha/.var/app/com.heroicgameslauncher.hgl/config/heroic/icons/wkAFusnsptPQnT7kf2y8Tg.jpg
Categories=Game;
