[Desktop Entry]
Name=Omnitixxx
Exec=xdg-open heroic://launch?appName=mZ4mgTuvHRYzCsWtfFaU81&runner=sideload
Terminal=false
Type=Application
Icon=/home/abledtaha/.var/app/com.heroicgameslauncher.hgl/config/heroic/icons/mZ4mgTuvHRYzCsWtfFaU81.jpg
Categories=Game;
