[Desktop Entry]
Name=Supreme Ruler 2030
Exec=xdg-open heroic://launch?appName=bcDFAqsePUCXBkYY6ic8Cu&runner=sideload
Terminal=false
Type=Application
Icon=/home/abledtaha/.var/app/com.heroicgameslauncher.hgl/config/heroic/icons/bcDFAqsePUCXBkYY6ic8Cu.jpg
Categories=Game;
