[Desktop Entry]
Name=Wet Sand
Exec=xdg-open heroic://launch?appName=q3P7L53pnq9YJZqxsahKrU&runner=sideload
Terminal=false
Type=Application
Icon=/home/abledtaha/.var/app/com.heroicgameslauncher.hgl/config/heroic/icons/q3P7L53pnq9YJZqxsahKrU.jpg
Categories=Game;
